<div id="sidebar">
<div class="card sidebar-nav">
  <ul class="list-group list-group-flush">
  <%= link_to root_path, class: 'sidebar-link' do %>
    <li class="list-group-item">
        <i class="fa fa-home sidebar-icon"></i> Home
    </li>
    <%end%>
  </ul>
</div>
</div>